pyrogram
numpy
yt-dlp
Pillow
hachoir
olefile
requests
tgcrypto
aiofiles
dnspython
motor
beautifulsoup4
humanize
Flask==2.2.2
gunicorn==20.1.0
aiohttp
Jinja2==3.0.3
werkzeug==2.0.2
pymongo[srv]==3.12.3
